
@import "../../app.scss";

.hero-container {
   position: relative;
   height: 100vh;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   overflow: hidden;

   .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
   }

   .hero-text {
      position: relative;
      z-index: 2;
      opacity: 1;
      transition: opacity 1s ease, transform 1s ease;
      transform: translate(0, 0);

      &.animate {
         opacity: 1;
         transform: translateY(0);
      }

      h1 {
         font-size: 3rem;
         margin: 0;
         animation: fadeIn 2s ease-in-out infinite alternate, slideIn 5s ease-in-out 2s infinite alternate;
         font-family: "Ubuntu Sans Mono", monospace;
         font-weight: 500;

         @include mobile{
            font-size: 2rem;
         }
      }

      p {
         font-size: 1.5rem;
         margin: 10px 0 0;
         animation: fadeIn 2s ease-in-out 1s infinite alternate, slideIn 6s ease-in-out 3s infinite alternate;
         font-family: "Indie Flower", cursive;

         @include mobile{
            font-size: 1.2rem;
         }
      }
   }
}

@keyframes fadeIn {
   from {
      opacity: 0.5;
   }
   to {
      opacity: 1;
   }
}


