@import "../../app.scss";

.navbar {
   &.napbar {
     background: transparent;
     padding: 1rem 0;
     transition: background-color 0.3s ease-in-out;
 
     .container {
       padding-right: 15px;
       padding-left: 15px;
       margin-right: auto;
       margin-left: auto;

       .logo {
         width: 48px;
         margin-right: 230px;
       }
 
       .navbar-brand {
         padding-top: 0;
         padding-bottom: 0;
       }
 
       .linkd {
         color: white;
         font-weight: bold;
         margin-right: 57px;
         font-size: 19px;
         color: white;  
         transition: color 3s ease-in-out;
       }
     }
   }
 
   &.napbar.scrolled {
     background-color: rgba(255, 255, 255, 0.8) !important;
   }
 }
 


