@import "../../app.scss";

.section {
   background: 'linear-gradient(to right, #FF4747, #FF9D56, #FF4747)'
}
.menus {
   margin-top: 45px;
   margin-bottom: 100px;
}

.modals {
   background-color: yellow;
   margin-top: 22px;
}

.top {
   margin-top: 200px;
}

.title {
   margin-left: 50px;
   
}

.card {
   border-radius: 20px;
}

.Stock {
   margin-bottom: 5px;
}

.rating-container {
   position: relative;
}

.rating-text-overlay {
   position: absolute;
   top: 4px;
   left: 27px;
   color: black;
   padding: 1px;
   border-radius: 1px;
   z-index: 1; /* Ensure it's above the rating image */
}

.modal {
   position: fixed;
   bottom: 0;
   left: 100%;
   transform: translateY(15%);
   z-index: 1050;
 }
 